body{
  height: 100%;
  user-select: none;
  -webkit-app-region: drag;
}
h1{
  color: red;
  margin: 0;
}
.wraper-container{
  -webkit-app-region: no-drag;
}
.wraper-center{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
